/.vs
/bin
/obj
/packages
/Properties
/wwwroot
/source/obj
/source/bin
/source/Properties
/source/wwwroot
/source/appsettings.Development.json
/source/appsettings.json
/source/appsettings.Production.json
/source/appsettings.Staging.json
/tests/WeddingApi.UnitTests/bin
/tests/WeddingApi.UnitTests/obj
/tests/WeddingApi.UnitTests/appsettings.Development.json
/tests/WeddingApi.IntegrationTests/bin
/tests/WeddingApi.IntegrationTests/obj
/tests/WeddingApi.IntegrationTests/appsettings.Development.json

# Ignore scripts folder containing guest data and SQL scripts
/source/Scripts/

